[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"django-bootstrap3" = "*"
djangorestframework = "*"
pillow = "*"
easy-thumbnails = "*"
django-extensions = "*"
requests = "*"
"beautifulsoup4" = "*"
django-chartjs = "*"

[dev-packages]

[requires]
python_version = "3.6"
