{% extends 'layout.html' %}
{% load bootstrap3 %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>{{ user }}'s Profile</h2>

                <table class="table table-hover table-bordered">
                    <tbody>
                    <tr>
                        <th>username</th>
                        <th>{{ user.username }}</th>
                    </tr>
                    <tr>
                        <td>last login</td>
                        <td>{{ user.last_login }}</td>
                    </tr>
                    <tr>
                        <td>date joined</td>
                        <td>{{ user.date_joined }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}